<html ng-app="listaTelefonica">
<head>
<title>Lista Telefonica</title>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<link rel="stylesheet" type="text/css" href="lib/bootstrap/bootstrap.min.css">
<style>
.jumbotron{
	width:400px;
	text-align:center;
	margin-top:20px;
	margin-left:auto;
	margin-right:auto;
}
.table{
	margin-top:20px;
}
.form-control{
	margin-bottom:5px;
}
.selecionado{
	background-color:yellow;
}
.negrito{
	font-weight:bold;
}
</style>
<script src="lib/angular/angular.min.js"></script>
<script src="lib/angular/angular-messages.min.js"></script>
<script>
angular.module("listaTelefonica", ["ngMessages"]);	
angular.module("listaTelefonica").controller("listaTelefonicaCtrl", function($scope){
	$scope.app="Lista Telefonica";	
	$scope.contatos = [
		{nome:"Pedro", telefone:"31986765432", operadoraCodigo:14},
		{nome:"Ana", telefone:"31999765431", operadoraCodigo:15},
		{nome:"Maria", telefone:"31991765430", operadoraCodigo:41}
	]
	$scope.operadoras=[
		{nome:"Oi", codigo:14, categoria: "Celular"},
		{nome:"Vivo", codigo:15, categoria: "Celular"},
		{nome:"Tim", codigo:41, categoria: "Celular"},
		{nome:"GVT", codigo:25, categoria: "Fixo"},
		{nome:"Embratel", codigo:21, categoria: "Fixo"}	
	]
	$scope.adicionarContato=function(contato){
		//Obs.: Não leia a variável $scope
		$scope.contatos.push(angular.copy(contato));
		delete $scope.contato;
		$scope.contatoForm.$setPristine();
	};
	$scope.apagarContatos=function(contatos){
		//Busca os contatos que nao foram selecionados
		$scope.contatos = contatos.filter(function(contato){
			if(!contato.selecionado) return contato;
		});	
	};
	$scope.isContatosSelecionados=function(contatos){
		//retorna verdade se algum contato for selecionado
		return contatos.some(function(contato){
			return contato.selecionado;
		});
	};
});	
</script>
</head>
<body ng-controller="listaTelefonicaCtrl">
	<div class="jumbotron">
		<h4>{{app}}</h4>
		<table class="table" ng-if="contatos.length>0">
			<tr>
				<th></th>
				<th>Nome</th>	
				<th>Telefone</th>
				<th>Codigo da Operadora</th>
			</tr>
			<tr ng-class="{'selecionado negrito': contato.selecionado}" ng-repeat="contato in contatos">
				<td><input type="checkbox" ng-model="contato.selecionado"/></td>
				<td>{{contato.nome}}</td>
				<td>{{contato.telefone}}</td>
				<td>{{contato.operadoraCodigo}}</td>
			</tr>
		</table>
		<form name="contatoForm">
			<input class="form-control" type="text" name="nome" ng-model="contato.nome" placeholder="Nome" ng-required="true" ng-minlength="3"/>
			<input class="form-control" type="text" name="telefone" ng-model="contato.telefone" placeholder="Telefone" ng-required="true" ng-pattern="/^\d{4,5}-\d{4}$/"/>
			<select class="form-control" ng-model="contato.operadoraCodigo" ng-options="operadora.codigo as operadora.nome group by operadora.categoria for operadora in operadoras">
				<option value="">Selecione uma operadora</option>
			</select>
		</form>
		<div ng-messages="contatoForm.nome.$error" ng-show="contatoForm.nome.$invalid && contatoForm.nome.$dirty" class="alert alert-danger">
			<span ng-message="required">Por favor, preencha o campo nome!</span>
			<span ng-message="minlength">O campo nome deve ter no minimo 3 caracteres.</span>
		</div>
		
		<div ng-messages="contatoForm.telefone.$error" ng-show="contatoForm.telefone.$invalid && contatoForm.telefone.$dirty" class="alert alert-danger">
			<span ng-message="required">Por favor, preencha o campo telefone!</span>
			<span ng-message="pattern">O campo telefone deve ter o formato DDDDD-DDDD</span>
		</div>

		<button class="btn btn-primary btn-block" ng-click="adicionarContato(contato)" ng-disabled="contatoForm.$invalid">Adicionar Contato</button>
		<button class="btn btn-danger btn-block" ng-click="apagarContatos(contatos)" ng-hide="!isContatosSelecionados(contatos)">Apagar Contato</button>
	</div>
	<div ng-include="'footer.html'"></div>
</body>
</html>
